In [1]:
import kaggle
import pandas as pd
import numpy as np

In [ ]:
# Download dataset using kaggle.
!kaggle datasets download shivamb/netflix-shows

In [19]:
#Unzipping the zip file.
import zipfile
zip_ref = zipfile.ZipFile('netflix-shows.zip')
zip_ref.extractall() # Extract file to dir
zip_ref.close() # Close zip file.

In [3]:
# Loading the data set in to pandas dataframe.
df = pd.read_csv('netflix_titles.csv')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [127]:
# Import sqlalchemy and connect to sql server.
import sqlalchemy as sal
engine = sal.create_engine('mssql://DESKTOP-MJCKK5O/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn = engine.connect()

In [9]:
# Load the dataset to sql server using append option.
df.to_sql('netflix_raw', con=conn, index = False, if_exists = 'replace')
conn.close()

In [11]:
df[df.show_id == 's5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

Title of certain shows is in different language while the data type of title in sql server is varchar, which can't handle the non english characters. Hence, we have to change the data type to nvarchar that can handle characters from other languages as well.

In [62]:
# Getting the maximum lenght of values in any record.
for col in df.columns:
    if df[col].dtype == 'O':
        print(f"Maximum length of any value in {col} : {max(df[col].dropna().str.len())}")
    else:
        continue

Maximum length of any value in show_id : 5
Maximum length of any value in type : 7
Maximum length of any value in title : 104
Maximum length of any value in director : 208
Maximum length of any value in cast : 771
Maximum length of any value in country : 123
Maximum length of any value in date_added : 19
Maximum length of any value in rating : 8
Maximum length of any value in duration : 10
Maximum length of any value in listed_in : 79
Maximum length of any value in description : 248

In [129]:
# Load the dataset to sql server using append option.
df.to_sql('netflix_raw', con=conn, index = False, if_exists = 'append')
conn.close()